name: Publish Package

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2

    - name: Validate Gradle wrapper
      uses: gradle/wrapper-validation-action@v1

    - name: Build
      run: ./gradlew build

    - name: Publish package
      run: ./gradlew publishMavenPublicationToOSSRHRepository
      env:
        OSSRH_USERNAME: ${{ secrets.MAVEN_USERNAME }}
        OSSRH_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
        SIGNING_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
        SIGNING_PASSWORD: ${{ secrets.GPG_PASSPHRASE }}
